<p id="notice"><%= notice %></p>

<p>
  <strong>Submission date:</strong>
  <%= @assignment.submission_date %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @assignment.grade %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @assignment.employee_id %>
</p>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
