<%= form_for(@student_type) do |f| %>
  <% if @student_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student_type.errors.count, "error") %> prohibited this student_type from being saved:</h2>

      <ul>
      <% @student_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :student_category_id %><br>
    <%= f.text_field :student_category_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
