<%= form_for(@assignment_task) do |f| %>
  <% if @assignment_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment_task.errors.count, "error") %> prohibited this assignment_task from being saved:</h2>

      <ul>
      <% @assignment_task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :assignment_id %><br>
    <%= f.text_field :assignment_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
